@import url("font-awesome/css/font-awesome.min.css");
@import url("kontrapunkt/stylesheet.css");
@import url("ubuntu/stylesheet.css");
@import url("source-code-pro/stylesheet.css");

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Helvetica Neue", sans-serif;
}

.reveal { font-family: "Gill Sans", sans-serif; }

.reveal section h1 { margin-bottom: 30px; font-size: 2.5em; }
.reveal section h2 { margin-bottom: 30px; font-size: 2em; }

.reveal section img { border: none; box-shadow: none; max-width: 95%; max-height: 95%; vertical-align: middle; margin: 1em; }

.reveal section .landscape { width: 95%; height: auto; margin: -50px 0 0 0; }
.reveal section .portrait  { height: 95%; width: auto; margin: -50px 0 0 0; }

.bigger pre { font-size: 100%; box-shadow: none; }

#css-and-fonts .font-awesome { font-family: "FontAwesome"; }
#css-and-fonts .kontrapunkt { font-family: "KontrapunktBold"; }
#css-and-fonts .ubuntu { font-family: "UbuntuRegular"; }
#css-and-fonts .source-code-pro { font-family: "SourceCodeProRegular"; }